<style>
  .grid-stack  {
    color: var(--color-accent);
  }
  .grid-stack-item-content {
    color: var(--color-accent);
  }
</style>

<link phx-track-static rel="stylesheet" href={~p"/assets/js/dashboard.css"} />
<script defer phx-track-static type="text/javascript" src={~p"/assets/js/dashboard.js"}>
</script>

<.flash id="toast" kind={:info} phx-mounted={show("#flash")}>Welcome Back!</.flash>

<RootLayout.app flash={@flash} current_user={assigns[:current_user]}>
  <.navigation user={@user} />

  <div class=" flex flex-col p-2 ">
    <div class="grid-stack" id="grid-stack">
      <.system systems={[]} selected_system_id={nil} />
      <.notes />
      <.signatures
        id="signatures"
        signatures={[]}
        selected_system_id={nil}
        paste_open={false}
        paste_text=""
      />
      <.map systems={[]} connections={[]} selected_system_id={nil} />
    </div>
  </div>
</RootLayout.app>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      const toast = document.getElementById("toast");
      if (toast) {
        // Optionally, remove the element after fade out
        // setTimeout(() => toast.remove(), 500);
        toast.remove();
      }
    }, 666);
  });
</script>
